.monimage{
    max-height: 350px;
    object-fit: cover;
}
.img-background{
    background-image: url("./images/images.jpeg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.img-background-beer-geneva{
    background-image: url("./images/beerGeneva.png");
    object-fit: auto;
    background-repeat: no-repeat;
    background-size: auto;
}
.backgroundBlack{
    background-color: rgb(105, 103, 103);
}
.size-carousel{
    max-height: 400px;
}
.taille-img{
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
