*{
    font-weight: bolder;
    
}
.monimage{
    max-height: 350px;
    object-fit: cover;
}
.img-background{
    background-image: url("./images/images.jpeg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundGrey{
    background-color: rgb(105, 103, 103);
}

.taille-img{
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.list-modal{
    font-size: 24px;
}

